.details-1 summary {
    width: -moz-fit-content;
    width: fit-content;
    direction: rtl;
    color: rgb(209, 22, 22);
}
.details-1 ::-webkit-details-marker {
    direction: ltr;
    color: gray;
    margin-left: .5ch;
}
.details-1 ::-moz-list-bullet {
    direction: ltr;
    color: gray;
    margin-left: .5ch;
}